body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff7ff;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 4fr;
    grid-template-rows: 125px;
    height: 100vh;
}

.filter-lightpurple {
    filter: invert(99%) sepia(87%) saturate(684%) hue-rotate(208deg) brightness(105%) contrast(110%);
}

.sidebar {
    background-color: #ffb7b2;
    grid-area: 1 / 1 / 3 / 2;
    color: #fff7ff;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    /* margin-bottom: 36px; */
}

.sidebar .logo-icon {
    width: 29px;
    margin-right: 10px;
}

.sidebar .link {
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 16px;
}

.sidebar .link-icon {
    width: 16px;
}

.sidebar a,
.sidebar a:visited,
.sidebar a:hover,
.sidebar a:active {
    text-decoration: none;
    color: inherit;
}

.sidebar h1,
.sidebar h2 {
    margin: 0;
    font-size: 1.2rem;
}

.sidebar h2 {
    font-size: .9rem;
    margin-left: 16px;
}

.sidebar .break {
    height: 36px;
}

.header {
    border: 3px solid #000000;
}

.main-content {
    border: 3px solid #000000;
}